{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VNMビューア</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'vietnam_research/css/style.css' %}"> 

</head>
<body>
    
    <h1>ここは非表示</h1>

    <!-- 同業比較したいから、昇順keyつけてdbから出力 -->
    <!-- 上場日・主な事業・業種・ -->
    <h2>SABサイゴンビール</h2>
    <img src="{% static 'vietnam_research/chart/SAB.png' %}" alt="SAB">
    <h2>PHRフオックホア ゴム</h2>
    <img src="{% static 'vietnam_research/chart/PHR.png' %}" alt="PHR">
    <h2>GASペトロベトナムガス</h2>
    <img src="{% static 'vietnam_research/chart/GAS.png' %}" alt="GAS">
    <h2>PPCファーライ火力発電</h2>
    <img src="{% static 'vietnam_research/chart/PPC.png' %}" alt="PPC">
    <h2>FMCサオタ食品</h2>
    <img src="{% static 'vietnam_research/chart/FMC.png' %}" alt="FMC">
    <h2>VHCビンホアン（水産）</h2>
    <img src="{% static 'vietnam_research/chart/VHC.png' %}" alt="VHC">
    <h2>VNMビナミルク</h2>
    <img src="{% static 'vietnam_research/chart/VNM.png' %}" alt="VNM">

    <h2>PERとは</h2>
    <img src="{% static 'vietnam_research/images/PER.jpg' %}" alt="PER">

</body>
</html>