{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bankdataビューア</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'bankdata/css/style.css' %}"> 

    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{% static 'bankdata/js/lineChart.js' %}" charset="utf-8"></script>

    <!-- D3.js -->
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-path.v1.min.js" charset="utf-8"></script>
    <script src="{% static 'bankdata/js/radarChart.js' %}" charset="utf-8"></script>
</head>
<body>
    
    <h1>h1タイトルは非表示</h1>

    <!-- Django to Javascript -->
    {{ dailydata|json_script:"dailydata-json" }}
    <script>var dailydata = JSON.parse(document.getElementById('dailydata-json').textContent);</script>
    <div class="pivot">
        <table>
        <thead>
            <tr><td class="category">Category</td>
            <script>
                var firstKey = Object.keys(dailydata)[0];
                for (ym in dailydata[firstKey]) {
                    document.write('<td>' + ym + '</td>')
                }
            </script>
            </tr>
        </thead>
        <tbody>
            <script>
                for (category in dailydata) {
                    document.write('<tr>')
                    document.write('<td>' + category + '</td>')
                    for (ym in dailydata[category]) {
                        document.write('<td class="num">' + dailydata[category][ym].toLocaleString() + '</td>')
                    }
                    document.write('</tr>')
                }
            </script>
        </tbody>
        </table>
    </div>

</body>
</html>