{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GoogleMapsAPI Sample</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'googlemaps/css/index.css' %}"> 

    <!-- googlemap api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXuwuKR5qRnnEdVtvXmW4ewkUAdNj9068" type="text/javascript"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <!-- jsonファイルを読み込んだりする js -->
    <script src="{% static 'googlemaps/js/map.js' %}"></script>

</head>

<!-- body の load のタイミングで json を読んでマーキングする -->
<body onload="read_json_to_marking()">

    <!-- 地図の生成 -->
    <div id="map_canvas" style="width: 500px; height: 500px"></div>

    <!-- 取得した緯度経度リストを debug 表示 -->
    <h2>以下のリストが取得できました</h2>
    <div class="cards">
        <ul>
        {% for j in json %}
            <li>
                <section class="card">
                    <img class="card-img" src="{% static 'googlemaps/img/' %}{{ j.name }}.png" alt="{{ j.name }}">
                    <div class="card-content">
                        <h3 class="card-title">{{ j.name }}</h3>
                        <p class="card-text">
                            lat: {{ j.lat }}<br>
                            lng: {{ j.lng }}
                        </p>
                    </div>
                    <div class="card-link">
                        <a href="#" target="_blank">link</a>
                    </div>
                </section>
            </li>
        {% endfor %}
        </ul>
    </div>
    <h2>以下のリストは取得できませんでした</h2>
    <ul>
        {% for j in miss %}
            <li>{{ j.name }}</li>
        {% endfor %}
    </ul>

    <h2>指定して再表示</h2>
    <form>
        <ul class="specific_form">
            <li>
                <label for="centerpoint">URL: </label>
                <input type="text" name="scraping_at" value="http://www.pref.kanagawa.jp/cnt/f1029/p70915.html" />        
            </li>
            <li>
                <label for="centerpoint">中心点: </label>
                <input type="text" name="centerpoint" value="35.383575,139.344170" />        
            </li>
            <li>
                <input class="btn-flat-border" type="button" id="btn" value="マーカー作成" onclick="loadJson()" />
            </li>
        </ul>        
    </form>

    </body>

</html>