h1 {
    display: none;
}

h2 {
    padding: 0.5em;
    color: #494949;
    background: #fffaf4;
    border-left: solid 5px #ffaf58;
}

.pivot table {
    display: block;
    overflow: auto;
    border-collapse:  collapse;
    table-layout: fixed;
    width: 7000px;
    height: 500px;
}
.pivot thead {
    background-color: #ffaf58;
    text-align: center;
}
.pivot td {
    border: solid 1px;
    border-color: rgb(185, 185, 185);
    padding: 10px;
}
.pivot .category {
    width: 150px;
}
.pivot .num {
    text-align: right;
}