h1 {
    display: none;
}

h2 {
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

.pivot table {
    border-collapse:  collapse;
}

.pivot thead {
    background-color: #ffaf58;
    text-align: center;
}

.pivot td {
    border: solid 1px;              /* 枠線指定 */
    border-color: rgb(185, 185, 185);
    padding: 10px;
}

.pivot .num {
    text-align: right;
}